<!DOCTYPE html>
<html style="font-size: 16px;" lang="es"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Revista medica hondureña, Our Projects, ​Outdoor Recreation, Home Repair Services, ​Properties For Rent">
    <meta name="description" content="">
    <title>Página 1</title>
    <link rel="stylesheet" href="/css/nicepage.css">
    <link rel="stylesheet" href="/css/galeria.css">
    <script class="u-script" type="text/javascript" src="/script/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/script/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 5.9.10, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    
    
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Página 1">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body class="u-body u-xl-mode" data-lang="es">
    <section class="u-align-center u-clearfix u-gradient u-video-cover u-section-1" id="carousel_e547">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-text u-text-body-alt-color u-title u-text-1" data-animation-out="0">Revista médica hondureña</h1>
        <div class="u-expanded-width-sm u-expanded-width-xs u-video u-video-contain u-video-1">
          <div class="embed-responsive embed-responsive-1">
            <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item" src="https://www.youtube.com/embed/DAooV5yf9vg?playlist=DAooV5yf9vg&amp;loop=1&amp;mute=1&amp;showinfo=1&amp;controls=1&amp;start=0&amp;autoplay=1" data-autoplay="1" frameborder="0" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center-md u-container-align-center-xl u-section-2" id="carousel_3ae6">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1">Dra. Liliam Ismenia Romero</h2>
        <p align="justify" class="u-align-justify u-text u-text-2">Dra. Liliam Romero, médico pediatra desde 1994 y a partir de 1995 pediatra del Hospital de Occidente formada en pro de ayudar a la población infantil hondureña; maestra de generaciones de médicos formados en el Hospital de Occidente. 
Pediatra que ama a sus pacientes como suyos y dispuesta a entregar todo por la salud de ellos.</p>
        <div class="u-expanded-width-lg u-expanded-width-md u-gradient u-shape u-shape-rectangle u-shape-1"></div>
        <div class="u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-on-hover u-gallery-1">
          <div class="u-gallery-inner u-gallery-inner-1">
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide" data-image-width="1380" data-image-height="920">
                <img class="u-back-image u-expanded" src="galeria/DocRomero/4U1A3654.jpg">
              </div>
              <div class="u-over-slide u-shading u-over-slide-1">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide" data-image-width="1980" data-image-height="1510">
                <img class="u-back-image u-expanded" src="galeria/DocRomero/4U1A3696.jpg">
              </div>
              <div class="u-over-slide u-shading u-over-slide-2">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide" data-image-width="1380" data-image-height="920">
                <img class="u-back-image u-expanded" src="galeria/DocRomero/4U1A3782.jpg">
              </div>
              <div class="u-over-slide u-shading u-over-slide-3">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide" data-image-width="1380" data-image-height="920">
                <img class="u-back-image u-expanded" src="galeria/DocRomero/4U1A3866.jpg">
              </div>
              <div class="u-over-slide u-shading u-over-slide-4">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide" data-image-width="1380" data-image-height="920">
                <img class="u-back-image u-expanded" src="galeria/DocRomero/HQ5A0323.jpg">
              </div>
              <div class="u-over-slide u-shading u-over-slide-5">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide" data-image-width="1380" data-image-height="920">
                <img class="u-back-image u-expanded" src="galeria/DocRomero/HQ5A0353.jpg">
              </div>
              <div class="u-over-slide u-shading u-over-slide-6">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide" data-image-width="1380" data-image-height="920">
                <img class="u-back-image u-expanded" src="galeria/DocRomero/HQ5A0284.jpg">
              </div>
              <div class="u-over-slide u-shading u-over-slide-7">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide" data-image-width="1380" data-image-height="920">
                <img class="u-back-image u-expanded" src="galeria/DocRomero/HQ5A0273.jpg">
              </div>
              <div class="u-over-slide u-shading u-over-slide-8">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide" data-image-width="1380" data-image-height="920">
                <img class="u-back-image u-expanded" src="galeria/DocRomero/HQ5A0360.jpg">
              </div>
              <div class="u-over-slide u-shading u-over-slide-9">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
 </section>

    <section class="u-align-center u-clearfix u-container-align-center u-section-3" id="carousel_f251">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1"> Santa Rosa de Copán</h2>
        <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-show-text-on-hover u-gallery-1">
          <div class="u-gallery-inner u-gallery-inner-1">
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div class="u-back-slide" data-image-width="1380" data-image-height="920">
                <img class="u-back-image u-expanded" src="galeria/santarosa/DSC03579.jpg" alt="Sample Headline">
              </div>
              <div class="u-over-slide u-shading u-over-slide-1">
               
              </div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div class="u-back-slide" data-image-width="1480" data-image-height="833">
                <img class="u-back-image u-expanded" src="galeria/santarosa/DSC03885.jpg" alt="Sample Headline">
              </div>
              <div class="u-over-slide u-shading u-over-slide-2">
               
              </div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div class="u-back-slide" data-image-width="740" data-image-height="833">
                <img class="u-back-image u-expanded" src="galeria/santarosa/DSC05481.jpg" alt="Sample Headline">
              </div>
              <div class="u-over-slide u-shading u-over-slide-3">
         
              </div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div class="u-back-slide" data-image-width="800" data-image-height="800">
                <img class="u-back-image u-expanded" src="galeria/santarosa/hjdjdjjd.jpg">
              </div>
              <div class="u-over-slide u-shading u-over-slide-4">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div class="u-back-slide" data-image-width="1380" data-image-height="920">
                <img class="u-back-image u-expanded" src="galeria/santarosa/DSC00296.jpg">
              </div>
              <div class="u-over-slide u-shading u-over-slide-5">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div class="u-back-slide" data-image-width="800" data-image-height="1200">
                <img class="u-back-image u-expanded" src="galeria/santarosa/DSC00299.jpg">
              </div>
              <div class="u-over-slide u-shading u-over-slide-6">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
        <section class="u-clearfix u-white u-section-4" id="sec-a199">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h3 class="u-text u-text-1">Himno de Santa Rosa de Copán&nbsp;</h3>
        <i>
          <p align="justify" class="u-align-justify u-text u-text-black u-text-2"> Rincón acogedor de Honduras<br>Ciudad tranquila y señorial<br>Sultana de occidente te llaman<br>De las montañas la brisa te acaricia<br>Y proclaman tus verdes colinas<br>Un himno de paz y justicia.
          </p>
        </i>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center u-gradient u-valign-middle u-section-5" id="carousel_c90f">
      <h2 class="u-text u-text-default u-text-white u-text-1">Comité organizador</h2>
      <div class="u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-1" >
            <div class="u-container-layout u-similar-container u-container-layout-1">
              <img class="u-expanded-width u-image u-image-default u-image-1" src="galeria/medicossrc/4U1A4075.jpg" alt="" data-image-width="1380" data-image-height="920"  >
              <p style="text-align: center;">Comité organizador</p>
            </div>
          </div>
          <div class="u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-2" >
            <div class="u-container-layout u-similar-container u-container-layout-2">
              <img class="u-expanded-width u-image u-image-default u-image-2" src="galeria/medicossrc/4U1A4097.jpg" alt="" data-image-width="1380" data-image-height="918"  >
              <p style="text-align: center;">Comité organizador</p>            
            </div>
          </div>
          <div class="u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-3" >
            <div class="u-container-layout u-similar-container u-container-layout-3">
              <img class="u-expanded-width u-image u-image-default u-image-3" src="galeria/medicossrc/4U1A4132.jpg" alt="" data-image-width="700" data-image-height="593"  >
              <p style="text-align: center;">Dra. Laura Teresa Mejía</p><p style="text-align: center;">Presidenta de COMENAC</p>   
            </div>
          </div>
          <div class="u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-4" >
            <div class="u-container-layout u-similar-container u-container-layout-4">
              <img class="u-expanded-width u-image u-image-default u-image-4" src="galeria/medicossrc/4U1A4209.jpg" alt="" data-image-width="800" data-image-height="636"  >
              <p style="text-align: center;">Dra. Jacqueline Viana</p><p style="text-align: center;">Coordinadora de Logística</p> 
            </div>
          </div>
          <div class="u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-5" >
            <div class="u-container-layout u-similar-container u-container-layout-5">
              <img class="u-expanded-width u-image u-image-default u-image-5" src="galeria/medicossrc/4U1A4224.jpg" alt="" data-image-width="800" data-image-height="636"  >
              <p style="text-align: center;">Dra. Nancy Rivera</p><p style="text-align: center;">Secretaria General</p> 
            </div>
          </div>
          <div class="u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-6" >
            <div class="u-container-layout u-similar-container u-container-layout-6">
              <img class="u-expanded-width u-image u-image-default u-image-6" src="galeria/medicossrc/4U1A4192.jpg" alt="" data-image-width="800" data-image-height="636"  >
              <p style="text-align: center;">Dr. Yuvini Villeda</p><p style="text-align: center;">Comité de publicidad</p>
            </div>
          </div>
          <div class="u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-7" >
            <div class="u-container-layout u-similar-container u-container-layout-7">
              <img class="u-expanded-width u-image u-image-default u-image-7" src="galeria/medicossrc/4U1A4155.jpg" alt="" data-image-width="800" data-image-height="636"  >
              <p style="text-align: center;">Dr. Engels Sandoval</p><p style="text-align: center;">Comité científico</p>
            </div>
          </div>
          <div class="u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-8" >
            <div class="u-container-layout u-similar-container u-container-layout-8">
              <img class="u-expanded-width u-image u-image-default u-image-8" src="galeria/medicossrc/4U1A4171.jpg" alt="" data-image-width="1010" data-image-height="864"  >
              <p style="text-align: center;">Dr. Ezequiel Morales</p><p style="text-align: center;">Tesorero</p>
            </div>
          </div>
          <div class="u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-9" >
            <div class="u-container-layout u-similar-container u-container-layout-9">
              <img class="u-expanded-width u-image u-image-default u-image-9" src="galeria/medicossrc/4U1A4196.jpg" alt="" data-image-width="1010" data-image-height="864"  >
              <p style="text-align: center;">Dr. Lenin Paz</p><p style="text-align: center;">Comité científico</p> 
            </div>
          </div>
        </div>
      </div>
    </section>
    
    {{!-- <section class="u-clearfix u-container-align-center u-section-5" id="carousel_a1da">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1"> Properties For Rent</h2>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-image u-image-round u-list-item u-radius-20 u-repeater-item u-image-1" data-image-width="2247" data-image-height="1500" data-animation-name="customAnimationIn" data-animation-duration="2000">
              <div class="u-container-layout u-similar-container u-valign-bottom-sm u-valign-bottom-xs u-container-layout-1"></div>
            </div>
            <div class="u-container-align-center u-container-style u-effect-hover-zoom u-image-round u-list-item u-radius-20 u-repeater-item u-list-item-2" data-image-width="1500" data-image-height="1000" data-animation-name="customAnimationIn" data-animation-duration="2000">
              <div class="u-background-effect u-expanded">
                <div class="u-background-effect-image u-expanded u-image u-image-2" data-image-width="1500" data-image-height="1000"></div>
              </div>
              <div class="u-container-layout u-similar-container u-valign-bottom-sm u-valign-bottom-xs u-container-layout-2"></div>
            </div>
            <div class="u-container-align-center u-container-style u-image u-image-round u-list-item u-radius-20 u-repeater-item u-image-3" data-image-width="2250" data-image-height="1500" data-animation-name="customAnimationIn" data-animation-duration="2000">
              <div class="u-container-layout u-similar-container u-valign-bottom-sm u-valign-bottom-xs u-container-layout-3"></div>
            </div>
            <div class="u-container-align-center u-container-style u-image u-image-round u-list-item u-radius-20 u-repeater-item u-image-4" data-image-width="2250" data-image-height="1500" data-animation-name="customAnimationIn" data-animation-duration="2000">
              <div class="u-container-layout u-similar-container u-valign-bottom-sm u-valign-bottom-xs u-container-layout-4"></div>
            </div>
            <div class="u-container-align-center u-container-style u-image u-image-round u-list-item u-radius-20 u-repeater-item u-image-5" data-image-width="1200" data-image-height="1500" data-animation-name="customAnimationIn" data-animation-duration="2000">
              <div class="u-container-layout u-similar-container u-valign-bottom-sm u-valign-bottom-xs u-container-layout-5"></div>
            </div>
            <div class="u-container-align-center u-container-style u-image u-image-round u-list-item u-radius-20 u-repeater-item u-image-6" data-image-width="1000" data-image-height="1500" data-animation-name="customAnimationIn" data-animation-duration="2000">
              <div class="u-container-layout u-similar-container u-valign-bottom-sm u-valign-bottom-xs u-container-layout-6"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
     --}}
    
  
  
</body></html>