<!DOCTYPE html>
<html style="font-size: 16px;" lang="es"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="The Accordion">
    <meta name="description" content="">
    <title>Página 4</title>
    <link rel="stylesheet" href="/css/nicepage.css">
    <link rel="stylesheet" href="/css/tutoriales.css">
    <script class="u-script" type="text/javascript" src="/script/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/script/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 5.10.10, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Página 4">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body class="u-body u-xl-mode" data-lang="es">
    <section class="u-align-center u-clearfix u-gradient u-section-1" id="sec-0af2">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-default u-text-white u-title u-text-1" data-animation-out="0">Tutoriales</h1>
        <div class="u-accordion u-collapsed-by-default u-expanded-width u-spacing-2 u-accordion-1">
          <div class="u-accordion-item u-accordion-item-1">
            <a class="u-accordion-link u-active-black u-border-1 u-border-active-white u-border-hover-black u-border-palette-1-base u-button-style u-hover-black u-radius-50 u-text-active-white u-text-black u-text-hover-white u-white u-accordion-link-1" id="link-accordion-7c0e" aria-controls="accordion-7c0e" aria-selected="false">
              <span class="u-accordion-link-text">Registro de usuarios</span><span class="u-accordion-link-icon u-border-2 u-border-active-white u-border-grey-75 u-border-hover-white u-gradient u-icon u-icon-rounded u-text-active-white u-text-hover-white u-text-white u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-efea"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-efea" style="enable-background:new 0 0 512 512;"><g><g><path d="M509.121,125.966c-3.838-3.838-10.055-3.838-13.893,0L256.005,365.194L16.771,125.966c-3.838-3.838-10.055-3.838-13.893,0    c-3.838,3.838-3.838,10.055,0,13.893l246.18,246.175c1.842,1.842,4.337,2.878,6.947,2.878c2.61,0,5.104-1.036,6.946-2.878    l246.17-246.175C512.959,136.021,512.959,129.804,509.121,125.966z"></path>
</g>
</g></svg></span>
            </a>
            <div class="u-accordion-pane u-align-left u-container-style u-accordion-pane-1" id="accordion-7c0e" aria-labelledby="link-accordion-7c0e">
              <div class="u-container-layout u-valign-middle u-container-layout-1">
                <div class="u-video u-video-contain u-video-1">
                  <div class="embed-responsive embed-responsive-1">
                    <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item" src="https://www.youtube.com/embed/tYJBiQcnz0k?playlist=tYJBiQcnz0k&amp;loop=1&amp;mute=1&amp;showinfo=1&amp;controls=1&amp;start=0" frameborder="0" allowfullscreen=""></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="u-accordion-item">
            <a class="u-accordion-link u-active-black u-border-1 u-border-active-white u-border-hover-black u-border-palette-1-base u-button-style u-hover-black u-radius-50 u-text-active-white u-text-black u-text-hover-white u-white u-accordion-link-2" id="link-accordion-7c0e" aria-controls="accordion-7c0e" aria-selected="false">
              <span class="u-accordion-link-text">Comprobantes de pago</span><span class="u-accordion-link-icon u-border-2 u-border-active-white u-border-grey-75 u-border-hover-white u-gradient u-icon u-icon-rounded u-text-active-white u-text-hover-white u-text-white u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8929"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-8929" style="enable-background:new 0 0 512 512;"><g><g><path d="M509.121,125.966c-3.838-3.838-10.055-3.838-13.893,0L256.005,365.194L16.771,125.966c-3.838-3.838-10.055-3.838-13.893,0    c-3.838,3.838-3.838,10.055,0,13.893l246.18,246.175c1.842,1.842,4.337,2.878,6.947,2.878c2.61,0,5.104-1.036,6.946-2.878    l246.17-246.175C512.959,136.021,512.959,129.804,509.121,125.966z"></path>
</g>
</g></svg></span>
            </a>
            <div class="u-accordion-pane u-align-left u-container-style u-accordion-pane-2" id="accordion-7c0e" aria-labelledby="link-accordion-7c0e">
              <div class="u-container-layout u-valign-top u-container-layout-2">
                <div class="u-video u-video-contain u-video-2">
                  <div class="embed-responsive embed-responsive-2">
                    <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item" src="https://www.youtube.com/embed/F7u791SFMps?playlist=F7u791SFMps&amp;loop=1&amp;mute=1&amp;showinfo=1&amp;controls=1&amp;start=0" frameborder="0" allowfullscreen=""></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>

                    <div class="u-accordion-item">
            <a class="u-accordion-link u-active-black u-border-1 u-border-active-white u-border-hover-black u-border-palette-1-base u-button-style u-hover-black u-radius-50 u-text-active-white u-text-black u-text-hover-white u-white u-accordion-link-2" id="link-accordion-7c0e" aria-controls="accordion-7c0e" aria-selected="false">
              <span class="u-accordion-link-text">Ingreso a Congreso Médico Virtual</span><span class="u-accordion-link-icon u-border-2 u-border-active-white u-border-grey-75 u-border-hover-white u-gradient u-icon u-icon-rounded u-text-active-white u-text-hover-white u-text-white u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8929"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-8929" style="enable-background:new 0 0 512 512;"><g><g><path d="M509.121,125.966c-3.838-3.838-10.055-3.838-13.893,0L256.005,365.194L16.771,125.966c-3.838-3.838-10.055-3.838-13.893,0    c-3.838,3.838-3.838,10.055,0,13.893l246.18,246.175c1.842,1.842,4.337,2.878,6.947,2.878c2.61,0,5.104-1.036,6.946-2.878    l246.17-246.175C512.959,136.021,512.959,129.804,509.121,125.966z"></path>
</g>
</g></svg></span>
            </a>
            <div class="u-accordion-pane u-align-left u-container-style u-accordion-pane-2" id="accordion-7c0e" aria-labelledby="link-accordion-7c0e">
              <div class="u-container-layout u-valign-top u-container-layout-2">
                <div class="u-video u-video-contain u-video-2">
                  <div class="embed-responsive embed-responsive-2">
                    <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item" src="https://www.youtube.com/embed/T4Y8Fikmu8s?si=JGSpnFs_kmknONIH" frameborder="0" allowfullscreen=""></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  
</body></html>