<h1>Política de privacidad</h1>
<p>Última actualización: 07 de octubre de 2023</p>
<p>Esta Política de Privacidad describe nuestras políticas y procedimientos sobre el almacenamiento, uso y divulgación de su información cuando utilice el Servicio y le cuenta sus derechos de privacidad y cómo la ley le protege.</p>
<p>Al utilizar el servicio, usted acepta la recopilación y el uso de información de acuerdo con esta Política de Privacidad.</p>
<h2>Interpretación y definiciones</h2>
<h3>Interpretación</h3>
<p>Las palabras de las cuales la letra inicial se capitaliza tienen significados definidos en las siguientes condiciones. Las definiciones siguientes tendrán el mismo significado independientemente de si aparecen en singular o en plural.</p>
<h3>Definiciones</h3>
<p>Para los fines de esta Política de Privacidad:</p>
<ul>
<li>
<p><strong>Cuenta:</strong> una cuenta única creada para que accedas a nuestro servicio o partes de nuestro servicio.</p>
</li>
<li>
<p><strong>Afiliada</strong> significa una entidad que controla, está controlada por o está bajo control común con una parte, donde "control" significa propiedad del 50% o más de las acciones, intereses de capital u otros títulos con derecho a voto para la elección de directores u otros.</p>
</li>
<li>
<p><strong>Aplicación</strong> se refiere a Comenac 2023, el programa de software proporcionado por la Compañía.</p>
</li>
<li>
<p><strong>La compañía</strong> (referida como "la Compañía", "Nos", "Us" o "Nuestro" en este Acuerdo) se refiere al Comenac 2023.</p>
</li>
<li>
<p><strong>País</strong> se refiere a: Honduras</p>
</li>
<li>
<p><strong>Dispositivo</strong> cualquier dispositivo que pueda acceder al Servicio como una computadora, un teléfono móvil o una tableta digital.</p>
</li>
<li>
<p><strong>Los datos personales</strong> son cualquier información relacionada con un individuo identificado o identificable.</p>
</li>
<li>
<p><strong>El servicio</strong> se refiere a la aplicación.</p>
</li>
<li>
<p><strong>Proveedor de servicios</strong> toda persona física o jurídica que procese los datos en nombre de la Compañía. Se refiere a empresas de terceros o personas empleadas por la Compañía para facilitar el servicio, prestar el servicio en nombre de la Compañía, para realizar servicios relacionados con el Servicio o ayudar a la Compañía a analizar cómo se utiliza el Servicio.</p>
</li>
<li>
<p><strong>Uso de datos</strong> se refiere a los datos recogidos automáticamente, bien generados por el uso del servicio o por la propia infraestructura de servicio (por ejemplo, la duración de una visita).</p>
</li>
<li>
<p><strong>Tu</strong> Se refiere al acceso individual o al servicio, o la empresa, u otra entidad jurídica en nombre de la cual este individuo está accediendo o utilizando el Servicio, según proceda.</strong></p>
</li>
</ul>
<h2>Recopilar y utilizar sus datos personales</h2>
<h3>Tipos de datos recogidos</h3>
<h4>Datos personales</h4>
<p>La información personalmente identificable puede incluir, pero no se limita a:</p>
<ul>
<li>Datos de uso</li>
</ul>
<h4>Datos de uso</h4>
<p>Los datos de uso NO se recogen automáticamente cuando se utiliza la aplicación.</p>
<p>La aplicación es meramente informativa, asi que NO recopila información de datos de uso del usuario, como ser información del protocolo de internet, información del dispositivo.</p>
<h3>Uso de sus datos personales</h3>
<p>La empresa no utilizará Datos Personales</p>

<p>Podemos compartir su información personal en las siguientes situaciones:</p>
<ul>
<li>La empresa no compartirá información de los usuarios bajo ninguna circunstancia</li>
</ul>
<h3>Conservación de sus datos personales</h3>
<p>La empresa no se verá en la necesidad de conservar sus datos personales, ya que la aplicación no obtiene datos del usuario.</p>
<h3>Transferencia de sus datos personales</h3>
<p>Sus datos personales no se podrán transferir a ningún otro medio.</p>
<h3>Eliminar sus datos personales</h3>
<p>La aplicación no recopila datos de usuarios, así que no se verá en la necesidad de eliminar datos de usuario</p>
</ul>
<h3>Seguridad de sus datos personales</h3>
<p>La seguridad de Sus Datos Personales es importante para nosotros, pero recuerde que ningún método de transmisión a través de Internet, o método de almacenamiento electrónico es 100% seguro. Aunque nos esforzamos por utilizar medios comercialmente aceptables para proteger sus datos personales, no podemos garantizar su seguridad absoluta.</p>
<h2>Privacidad infantil</h2>
<p>Nuestro servicio no se dirige a nadie menor de 13 años. No recopilamos información personalmente identificable de alguien menor de 13 años. Si usted es un padre o tutor y usted es consciente de que su hijo ha proporcionado sus datos personales, por favor póngase en contacto con nosotros.</p>
<p>Si necesitamos confiar en el consentimiento como base legal para procesar su información y su país requiere el consentimiento de un padre, podemos requerir el consentimiento de su padre antes de recoger y utilizar esa información.</p>
<h2>Enlaces a otros sitios web o aplicaciones externas</h2>
<p>Nuestro servicio puede contener enlaces a otros sitios web o aplicaciones que no son operados por nosotros. Si haces clic en un enlace de terceros, serás dirigido al sitio o aplicación de ese tercero. Le aconsejamos encarecidamente que revise la Política de Privacidad de cada sitio que visite.</p>
<p>No tenemos control ni asumimos ninguna responsabilidad en cuanto al contenido, las políticas de privacidad o las prácticas de los sitios o servicios de terceros.</p>
<h2>Cambios en esta política de privacidad</h2>
<p>Podemos actualizar nuestra Política de Privacidad de vez en cuando. Le notificaremos cualquier cambio publicando la nueva Política de Privacidad en esta página.</p>
<p>Se le aconseja que revise periódicamente esta Política de Privacidad para cualquier cambio. Los cambios en esta política de privacidad son eficaces cuando se publican en esta página.</p>
<h2>Contáctanos</h2>
<p>Si tiene alguna pregunta sobre esta Política de Privacidad, puede ponerse en contacto con nosotros:</p>
<ul>
<li>
<p>Por correo: info@comenac2023.com</p>
</li>
<li>
<p>Visitando esta página en nuestro sitio: <a href="https://www.comenac2023.com/politica-privacidad" rel="external nofollow noopener" target="_blank">https://www.comenac2023.com/politica-privacidad</a></p>
</li>
</ul>