<!DOCTYPE html>
<html style="font-size: 16px;" lang="es"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Sample Headline, ​We dwelling elegance do shutters appetite yourself diverted, Interior Workshop, Galeria, Promotion Plans, Follow Us">
    <meta name="description" content="">
    <title>Página 2</title>
    <link rel="stylesheet" href="/css/nicepage.css">
    <link rel="stylesheet" href="/css/Página-2.css">
      <script class="u-script" type="text/javascript" src="/script/jquery.js" defer=""></script>
      <script class="u-script" type="text/javascript" src="/script/nicepage.js" defer=""></script>
      <meta name="generator" content="Nicepage 5.4.4, nicepage.com">
      <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
      <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
      
      
    
    
    
    
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Página 2">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body class="u-body u-xl-mode" data-lang="es"> 
    <section class="u-align-center u-clearfix u-section-1" id="sec-cbe3">
      <h2 class="u-text u-text-default u-text-1">Sample Headline</h2>
      <div class="u-carousel u-expanded-width u-gallery u-gallery-slider u-layout-carousel u-lightbox u-no-transition u-show-text-on-hover u-gallery-1" id="carousel-4585" data-interval="2250" data-u-ride="carousel">
        <ol class="u-absolute-hcenter u-carousel-indicators u-carousel-indicators-1">
          <li data-u-target="#carousel-4585" data-u-slide-to="0" class="u-active u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
          <li data-u-target="#carousel-4585" data-u-slide-to="1" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
          <li data-u-target="#carousel-4585" data-u-slide-to="2" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
        </ol>
        <div class="u-carousel-inner u-gallery-inner" role="listbox">
          <div class="u-active u-carousel-item u-effect-fade u-gallery-item u-carousel-item-1">
            <div class="u-back-slide" data-image-width="1140" data-image-height="655">
              <img class="u-back-image u-expanded" src="images/DSC00285.jpg" alt="">
            </div>
            <div class="u-align-center u-over-slide u-shading u-valign-bottom u-over-slide-1">
              <h3 class="u-gallery-heading"></h3>
              <p class="u-gallery-text"></p>
            </div>
          </div>
          <div class="u-carousel-item u-effect-fade u-gallery-item u-carousel-item-2" data-image-width="1024" data-image-height="664">
            <div class="u-back-slide">
              <img class="u-back-image u-expanded" src="images/DSC00296.jpg" alt="">
            </div>
            <div class="u-align-center u-over-slide u-shading u-valign-bottom u-over-slide-2">
              <h3 class="u-gallery-heading"></h3>
              <p class="u-gallery-text">Texto de ejemplo</p>
            </div>
            <style data-mode="XL" data-visited="true"></style>
            <style data-mode="LG"></style>
            <style data-mode="MD"></style>
            <style data-mode="SM"></style>
            <style data-mode="XS"></style>
          </div>
          <div class="u-carousel-item u-effect-fade u-gallery-item u-carousel-item-3" data-image-width="940" data-image-height="600">
            <div class="u-back-slide">
              <img class="u-back-image u-expanded" src="images/DSC00262.jpg">
            </div>
            <div class="u-align-center u-over-slide u-shading u-valign-bottom u-over-slide-3">
              <h3 class="u-gallery-heading">Título de ejemplo</h3>
              <p class="u-gallery-text">Texto de ejemplo</p>
            </div>
            <style data-mode="XL" data-visited="true"></style>
            <style data-mode="LG"></style>
            <style data-mode="MD"></style>
            <style data-mode="SM"></style>
            <style data-mode="XS"></style>
          </div>
        </div>
        <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-gradient u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-1" href="#carousel-4585" role="button" data-u-slide="prev">
          <span aria-hidden="true">
            <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
          </span>
          <span class="sr-only">
            <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
          </span>
        </a>
        <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-gradient u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-2" href="#carousel-4585" role="button" data-u-slide="next">
          <span aria-hidden="true">
            <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
          </span>
          <span class="sr-only">
            <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
          </span>
        </a>
      </div>
    </section>
    <section class="u-clearfix u-white u-section-2" id="carousel_3c21">
      <div class="u-clearfix u-sheet u-valign-middle-sm u-valign-middle-xl u-sheet-1">
        <img class="u-image u-image-1" src="images\DSC00299.jpg" data-image-width="1300" data-image-height="868">
        <div class="u-align-left u-container-align-left u-container-style u-group u-white u-group-1">
          <div class="u-container-layout u-valign-middle u-container-layout-1">
            <h3 class="u-align-left u-text u-text-1"> Workouts For Beginners</h3>
            <p class="u-align-left u-text u-text-2"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p class="u-align-left u-text u-text-3" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Ima​ge from <a href="https://www.freepik.com/photos/business" class="u-active-none u-border-1 u-border-active-grey-75 u-border-grey-40 u-border-hover-grey-75 u-border-no-left u-border-no-right u-border-no-top u-btn u-button-link u-button-style u-hover-none u-none u-text-active-grey-70 u-text-body-color u-text-hover-grey-70 u-btn-1" target="_blank" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Freepik</a>
            </p>
            <a href="https://nicepage.com/k/university-website-templates" class="u-active-black u-align-left u-border-none u-btn u-button-style u-hover-black u-palette-1-base u-btn-2">Find a Trainer</a>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-grey-5 u-section-3" id="carousel_5e46">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-left u-border-10 u-border-white u-container-style u-group u-shape-rectangle u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <img class="u-image u-image-default u-image-1" src="images/confused-lovely-female-teenager-holds-chin-looks-thoughtfully-aside-has-dark-hair-wears-striped-sweater-isolated-white-wall.jpg" alt="" data-image-width="1500" data-image-height="1000">
            <h2 class="u-custom-font u-font-montserrat u-text u-text-1"> We dwelling elegance do shutters appetite yourself diverted</h2>
            <p class="u-align-left-md u-align-left-sm u-align-left-xs u-text u-text-2">Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too. Comfort produce husband boy her had hearing. Law others theirs passed but wishes. You day real less till dear read. Image from <a href="https://freepik.com" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-3-base u-btn-1">Freepik</a>
              <br>
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-white u-section-4" id="carousel_e8b8">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-text u-text-1">Interior Workshop</h2>
        <p class="u-text u-text-2">Over the years, THE INTERIOR WORKSHOP has become synonymous with exquisite taste, unparalleled service, and unmatched quality. Operating with the utmost in business ethics, we are known for our reliability and attention to detail on every
                project making your experience with us authentically different.</p>
        <div class="u-shading u-video u-video-contain u-video-1">
          <div class="embed-responsive embed-responsive-1">
            <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item" src="https://www.youtube.com/embed/CC11TKW1kNw?playlist=CC11TKW1kNw&amp;loop=1&amp;mute=1&amp;showinfo=0&amp;controls=1&amp;start=0&amp;autoplay=1" data-autoplay="1" frameborder="0" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center-lg u-align-center-md u-align-center-xl u-align-left-sm u-align-left-xs u-clearfix u-grey-5 u-section-5" id="carousel_8412">
      <div class="u-clearfix u-sheet u-sheet-1">
        <img class="u-absolute-hcenter u-expanded-height u-image u-image-1" src="images/dfdffd.jpg" data-image-width="1980" data-image-height="947">
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-white u-section-6" id="carousel_155a">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">Weekend Activities</h2>
        <p class="u-align-center u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250"> Quam quisque id diam vel quam elementum. Vestibulum lectus mauris ultrices eros in cursus turpis massa tincidunt. Pellentesque habitant morbi tristique senectus et netus. </p>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-1" src="" data-animation-name="customAnimationIn" data-animation-duration="1500" data-href="Casa.html" title="Casa">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <img class="u-expanded-width u-image u-image-round u-radius-50 u-image-1" data-image-width="920" data-image-height="920" src="images/111.jpg">
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-2" src="" data-animation-name="customAnimationIn" data-animation-duration="1500">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <img class="u-expanded-width u-image u-image-round u-radius-50 u-image-2" data-image-width="920" data-image-height="920" src="images/yt.jpg">
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-3" src="" data-animation-name="customAnimationIn" data-animation-duration="1500">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <img class="u-expanded-width u-image u-image-round u-radius-50 u-image-3" data-image-width="920" data-image-height="920" src="images/44.jpg">
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-4" src="" data-animation-name="customAnimationIn" data-animation-duration="1500">
              <div class="u-container-layout u-similar-container u-container-layout-4">
                <img class="u-expanded-width u-image u-image-round u-radius-50 u-image-4" data-image-width="920" data-image-height="920" src="images/ty.jpg">
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-5" src="" data-animation-name="customAnimationIn" data-animation-duration="1500">
              <div class="u-container-layout u-similar-container u-container-layout-5">
                <img class="u-expanded-width u-image u-image-round u-radius-50 u-image-5" data-image-width="280" data-image-height="280" src="images/ccc.jpg">
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-6" src="" data-animation-name="customAnimationIn" data-animation-duration="1500">
              <div class="u-container-layout u-similar-container u-container-layout-6">
                <img class="u-expanded-width u-image u-image-round u-radius-50 u-image-6" data-image-width="920" data-image-height="920" src="images/uy6-26.jpg">
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-7" src="" data-animation-name="customAnimationIn" data-animation-duration="1500">
              <div class="u-container-layout u-similar-container u-container-layout-7">
                <img class="u-expanded-width u-image u-image-round u-radius-50 u-image-7" data-image-width="920" data-image-height="920" src="images/uy6.jpg">
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-8" src="" data-animation-name="customAnimationIn" data-animation-duration="1500">
              <div class="u-container-layout u-similar-container u-container-layout-8">
                <img class="u-expanded-width u-image u-image-round u-radius-50 u-image-8" data-image-width="920" data-image-height="920" src="images/uy6.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-white u-section-7" id="carousel_a5c1">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-1">Precios de inscripción</h1>
        <div class="u-expanded-width u-table u-table-responsive u-table-1">
          <table class="u-table-entity">
            <colgroup>
              <col width="38.1%">
              <col width="29.7%">
              <col width="32.2%">
            </colgroup>
            <thead class="u-align-center u-table-header u-white u-table-header-1">
              <tr style="height: 59px;">
                <th class="u-align-left u-table-cell u-table-cell-1">Congresos</th>
                <th class="u-palette-1-base u-table-cell u-table-cell-2"><b>PRE-INSCRIPCIÓN</b>
                  <br>hasta 31 Agosto 2023
                </th>
                <th class="u-palette-1-base u-table-cell u-table-cell-3"><b>INCRIPCIÓN</b>
                  <br>Septiembre-OCTUBRE 2023
                </th>
              </tr>
            </thead>
            <tbody class="u-align-center u-palette-5-dark-3 u-table-body u-table-body-1">
              <tr style="height: 49px;">
                <td class="u-align-left u-border-1 u-border-palette-5-dark-2 u-first-column u-table-cell">Pre-Congreso</td>
                <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell">L 500.00</td>
                <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell">L 700.00</td>
              </tr>
              <tr style="height: 48px;">
                <td class="u-align-left u-border-1 u-border-palette-5-dark-2 u-table-cell">Congreso</td>
                <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell u-text-palette-1-base u-table-cell-8">L 2,500.00</td>
                <td class="u-border-2 u-border-no-left u-border-no-right u-border-palette-5-dark-2 u-table-cell u-text-palette-1-base u-table-cell-9">L 3,0<span class="u-text-palette-1-base"></span>00.00<span class="u-text-palette-1-dark-1"></span>
                </td>
              </tr>
              <tr style="height: 76px;">
                <td class="u-align-left u-border-1 u-border-palette-5-dark-2 u-first-column u-table-cell">Virtual</td>
                <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell">L 1,000.00</td>
                <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell">L 1,000.00</td>
              </tr>
              <tr style="height: 86px;">
                <td class="u-align-left u-border-1 u-border-palette-5-dark-2 u-first-column u-table-cell"></td>
                <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell u-table-cell-14"></td>
                <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell u-table-cell-15">&nbsp;&nbsp;</td>
              </tr>
              <tr style="height: 65px;">
                <td class="u-align-left u-border-1 u-border-white u-table-cell u-text-black u-white u-table-cell-16">Cuentas&nbsp;</td>
                <td class="u-border-1 u-border-white u-palette-1-base u-table-cell u-table-cell-17">Nombre de cuenta</td>
                <td class="u-border-1 u-border-white u-palette-1-base u-table-cell u-table-cell-18">Numero de cuenta</td>
              </tr>
              <tr style="height: 65px;">
                <td class="u-align-left u-border-1 u-border-palette-5-dark-2 u-table-cell">Banco de Occidente</td>
                <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell u-table-cell-20">CMH</td>
                <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell u-table-cell-21">21-101-0822605</td>
              </tr>
            </tbody>
          </table>
        </div>
        <a href="https://nicepage.com/c/food-restaurant-html-templates" class="u-active-palette-1-light-1 u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-light-2 u-radius-50 u-text-body-alt-color u-btn-1">Inscribirse</a>
        <a href="https://nicepage.com/c/food-restaurant-html-templates" class="u-active-palette-1-light-1 u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-light-3 u-radius-50 u-text-body-alt-color u-btn-2">Inscribirse</a>
      </div>
    </section>
    <section class="u-clearfix u-gradient u-section-8" id="sec-3b47">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-1">
                <div class="u-container-layout u-valign-bottom u-container-layout-1">
                  <img class="u-image u-image-contain u-image-default u-image-1" src="images/bg2.png" alt="" data-image-width="643" data-image-height="501">
                  <img class="u-image u-image-contain u-image-default u-image-2" src="images/bg3.png" alt="" data-image-width="490" data-image-height="339">
                  <img class="u-image u-image-contain u-image-default u-image-3" src="images/bg3.png" alt="" data-image-width="490" data-image-height="339">
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <ul class="u-text u-text-black u-text-default u-text-1">
                    <li>Elemento de muestra  1</li>
                    <li>Elemento de muestra 2</li>
                    <li>Elemento de muestra 3</li>
                  </ul>
                  <a href="https://nicepage.com/k/children-website-templates" class="u-active-none u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-top-left-radius-0 u-top-right-radius-0 u-btn-1"><span class="u-icon"><svg class="u-svg-content" viewBox="0 0 405.333 405.333" x="0px" y="0px" style="width: 1em; height: 1em;"><path d="M373.333,266.88c-25.003,0-49.493-3.904-72.704-11.563c-11.328-3.904-24.192-0.896-31.637,6.699l-46.016,34.752    c-52.8-28.181-86.592-61.952-114.389-114.368l33.813-44.928c8.512-8.512,11.563-20.971,7.915-32.64    C142.592,81.472,138.667,56.96,138.667,32c0-17.643-14.357-32-32-32H32C14.357,0,0,14.357,0,32    c0,205.845,167.488,373.333,373.333,373.333c17.643,0,32-14.357,32-32V298.88C405.333,281.237,390.976,266.88,373.333,266.88z"></path></svg></span>&nbsp;+1 (234) 567-8910
                  </a>
                </div>
              </div>
              <div class="u-align-right u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-3">
                <div class="u-container-layout u-valign-middle u-container-layout-3">
                  <div class="u-social-icons u-spacing-20 u-social-icons-1">
                    <a class="u-social-url" target="_blank" data-type="Facebook" title="Facebook" href=""><span class="u-icon u-social-facebook u-social-icon u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-a4bf"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-a4bf"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M73.5,31.6h-9.1c-1.4,0-3.6,0.8-3.6,3.9v8.5h12.6L72,58.3H60.8v40.8H43.9V58.3h-8V43.9h8v-9.2
      c0-6.7,3.1-17,17-17h12.5v13.9H73.5z"></path></svg></span>
                    </a>
                    <a class="u-social-url" target="_blank" data-type="Instagram" title="Instagram" href=""><span class="u-icon u-social-icon u-social-instagram u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-c7ae"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-c7ae"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M55.9,38.2c-9.9,0-17.9,8-17.9,17.9C38,66,46,74,55.9,74c9.9,0,17.9-8,17.9-17.9C73.8,46.2,65.8,38.2,55.9,38.2
      z M55.9,66.4c-5.7,0-10.3-4.6-10.3-10.3c-0.1-5.7,4.6-10.3,10.3-10.3c5.7,0,10.3,4.6,10.3,10.3C66.2,61.8,61.6,66.4,55.9,66.4z"></path><path fill="#FFFFFF" d="M74.3,33.5c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S76.6,33.5,74.3,33.5z"></path><path fill="#FFFFFF" d="M73.1,21.3H38.6c-9.7,0-17.5,7.9-17.5,17.5v34.5c0,9.7,7.9,17.6,17.5,17.6h34.5c9.7,0,17.5-7.9,17.5-17.5V38.8
      C90.6,29.1,82.7,21.3,73.1,21.3z M83,73.3c0,5.5-4.5,9.9-9.9,9.9H38.6c-5.5,0-9.9-4.5-9.9-9.9V38.8c0-5.5,4.5-9.9,9.9-9.9h34.5
      c5.5,0,9.9,4.5,9.9,9.9V73.3z"></path></svg></span>
                    </a>
                    <a class="u-social-url" target="_blank" data-type="Twitter" title="Twitter" href=""><span class="u-icon u-social-icon u-social-twitter u-icon-4"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5014"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-5014"><circle fill="currentColor" class="st0" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M83.8,47.3c0,0.6,0,1.2,0,1.7c0,17.7-13.5,38.2-38.2,38.2C38,87.2,31,85,25,81.2c1,0.1,2.1,0.2,3.2,0.2
      c6.3,0,12.1-2.1,16.7-5.7c-5.9-0.1-10.8-4-12.5-9.3c0.8,0.2,1.7,0.2,2.5,0.2c1.2,0,2.4-0.2,3.5-0.5c-6.1-1.2-10.8-6.7-10.8-13.1
      c0-0.1,0-0.1,0-0.2c1.8,1,3.9,1.6,6.1,1.7c-3.6-2.4-6-6.5-6-11.2c0-2.5,0.7-4.8,1.8-6.7c6.6,8.1,16.5,13.5,27.6,14
      c-0.2-1-0.3-2-0.3-3.1c0-7.4,6-13.4,13.4-13.4c3.9,0,7.3,1.6,9.8,4.2c3.1-0.6,5.9-1.7,8.5-3.3c-1,3.1-3.1,5.8-5.9,7.4
      c2.7-0.3,5.3-1,7.7-2.1C88.7,43,86.4,45.4,83.8,47.3z"></path></svg></span>
                    </a>
                    <a class="u-social-url" target="_blank" data-type="Email" title="Email" href=""><span class="u-icon u-social-email u-social-icon u-icon-5"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-b550"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-b550"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path id="path3864" fill="#FFFFFF" d="M27.2,28h57.6c4,0,7.2,3.2,7.2,7.2l0,0v42.7c0,3.9-3.2,7.2-7.2,7.2l0,0H27.2
	c-4,0-7.2-3.2-7.2-7.2V35.2C20,31.1,23.2,28,27.2,28 M56,52.9l28.8-17.8H27.2L56,52.9 M27.2,77.7h57.6V43.5L56,61.3L27.2,43.5V77.7z
	"></path></svg></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-85e6"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Texto de ejemplo de pie de página</p>
      </div></footer>
    <section class="u-backlink u-clearfix u-grey-80">
      <a class="u-link" href="https://nicepage.com/website-mockup" target="_blank">
        <span>Website Mockup</span>
      </a>
      <p class="u-text">
        <span>created with</span>
      </p>
      <a class="u-link" href="" target="_blank">
        <span>Website Builder Software</span>
      </a>. 
    </section>
  
</body></html>