<div class="container">

    <div class="row g-3 needs-validation">

        <div class="col-md-8 mx-auto" style="width: 500%; ">



            <div class="box">
                <div class="card-header  border-success">

                    <div class="row g-3 needs-validation">
                        <div class="col-md-2">
                           <a href="/Stands/StandsAdmin" title="Hacer clic para volver"><i class="fas fa-arrow-circle-left fa-2x"
                                    style="color: #ffffff;"></i></a>
                        </div>
                        <div class="text-center col-md-8">
                            <h2 style="color: aliceblue;">Agregar casa farmaceutica</h2>
                        </div>
                    </div>

                </div>
<br>
                <div class="card-body col-md-12">

                                <form action="/Stands/add" method="POST" enctype="multipart/form-data">

                        <head>
                            <meta charset="utf-8">

                            <link rel="license" href="https://www.opensource.org/licenses/mit-license/">
                        </head>


                        <body>
                            {{!--LOS OTROS CAMPOS A AGREGAR --}}

                            <div class="row g-3 needs-validation">

                                <div class="form-group col-md-12">
                                    <div class="inputBox">
                                        <input type="text"  name="nombre" required>
                                        <label for="">Nombre de casa farmaceutica</label>
                                    </div>

                                </div>
                            </div>
 
                   
                      
                            <div class="form-group col-md-12">
                           <label for="validationServer03">Seleccione un imagen</label>
                           <input type="file" class="form-control" name="archivo" id="archivo" >
                          
                        </div>
                        <br>


                             <div class="row g-3 needs-validation">
                                <div class="form-group col-md-12">
                                    <div class="inputBox">
                                        <input type="text" name="titulo1" required>
                                        <label for="">Título 1</label>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Párrafo 1</label>
                                <textarea class="form-control" name="parrafo1" id="exampleFormControlTextarea1"
                                    rows="3"></textarea>
                            </div>
                            <br>
                            <div class="row g-3 needs-validation">
                                <div class="form-group col-md-12">
                                    <div class="inputBox">
                                        <input type="text" name="titulo2" >
                                        <label for="">Título 2</label>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Párrafo 2</label>
                                <textarea class="form-control" name="parrafo2" id="exampleFormControlTextarea1"
                                    rows="3"></textarea>
                            </div>
                            <br>
                            <div class="row g-3 needs-validation">
                                <div class="form-group col-md-12">
                                    <div class="inputBox">
                                        <input type="text" name="titulo3" >
                                        <label for="">Título 3</label>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Párrafo 3</label>
                                <textarea class="form-control" name="parrafo3" id="exampleFormControlTextarea1"
                                    rows="3"></textarea>
                            </div>
                            <br>
                                 <div class="row g-3 needs-validation">
                                <div class="form-group col-md-12">
                                    <div class="inputBox">
                                        <input type="text" name="video" >
                                        <label for="">Video</label>
                                    </div>
                                </div>
                            </div>

                             

                            <div class="card-footer bg-transparent " class="observaciones"> <button
                                    class="btn btn-success ">
                                    Guardar
                                </button>

                            </div>

                    </form>


                    {{!-- BOTON DE AGREGAR --}}