<!DOCTYPE html>
<html style="font-size: 16px;" lang="es">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="The Accordion">
  <meta name="description" content="">
  <title>COMENAC</title>
  <link rel="stylesheet" href="/css/nicepage.css">
  <link rel="stylesheet" href="/css/cardcasas.css">
  <script class="u-script" type="text/javascript" src="/script/jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="/script/nicepage.js" defer=""></script>
  <meta name="generator" content="Nicepage 5.10.10, nicepage.com">
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
  <link id="u-page-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700,800,900">


  <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
  <meta name="theme-color" content="#478ac9">
  <meta property="og:title" content="Página 4">
  <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>

<body class="u-body u-xl-mode" data-lang="es">
  <section class="u-clearfix u-gradient u-section-1" id="carousel_a3d5">
    <div class="titulo text-center">
        <h1 >Patrocinadores</h1>
    </div>
       
      <div class="row borde"  >

                     {{#each casafarmaceutica }}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" style="padding-bottom: 2%;">

<!-- partial:index.partial.html -->
	<a href="/Stands/revista/{{id}}">
<div class="card-list">
	<article class="card">
	<figure class="card-image">
		<img src="/casas/{{archivo}}" alt="An orange painted blue, cut in half laying on a blue background" />
	</figure>
	<div class="card-header">
	{{nombre}}
		
	</div>

</article>
</div>
</a>
</div>
    {{/each}}
</div>
<!-- partial -->
  <script  src="./script.js"></script>









</body>

</html>