<!DOCTYPE html>
<html style="font-size: 16px;" lang="es"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Birthday, What We Do, Our Team, Our Gallery, ​Book a free consultation">
    <meta name="description" content="">
    <title>Página 5</title>
        <link rel="stylesheet" href="/css/nicepage.css">
    <link rel="stylesheet" href="/css/habitaciones.css">
      <script class="u-script" type="text/javascript" src="/script/jquery.js" defer=""></script>
      <script class="u-script" type="text/javascript" src="/script/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 5.10.10, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster:400">
    
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Página 5">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body class="u-body u-xl-mode" data-lang="es">
    <section class="u-clearfix u-image u-section-1" id="sec-de23" data-image-width="1280" data-image-height="853">
      <div class="u-bottom-right-radius-50 u-container-align-left-lg u-container-align-left-md u-container-align-left-xs u-container-style u-gradient u-group u-shape-round u-top-right-radius-50 u-group-1">
        <div class="u-container-layout u-container-layout-1">
          <h1 class="u-align-left u-custom-font u-font-lobster u-text u-text-white u-text-1"> Habitaciones y suites</h1>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-2" id="sec-1d8b">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-container-style u-gradient u-group u-radius-50 u-shape-round u-group-1">
          <div class="u-container-layout u-valign-middle u-container-layout-1">
            <h2 class="u-align-center u-text u-text-default u-text-1"> Su estancia incluye</h2>
            <div class="u-border-3 u-border-palette-3-base u-line u-line-horizontal u-line-1"></div>
            <p class="u-align-center u-text u-text-2"> ✓ Aparcamiento gratuito ✓ Habitaciones para no fumadores ✓ Restaurante en el hotel ✓Piscina al aire libre ✓ Gimnasio ✓ Centro de negocios</p>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-left u-clearfix u-section-3" id="sec-5e78">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-tab-links-align-justify u-tabs u-tabs-1">
          <ul class="u-spacing-30 u-tab-list u-unstyled" role="tablist">
            <li class="u-tab-item" role="presentation">
              <a class="active u-active-palette-3-dark-1 u-button-style u-grey-15 u-hover-grey-5 u-tab-link u-tab-link-1" id="link-tab-081f" href="#tab-081f" role="tab" aria-controls="tab-081f" aria-selected="true">Todo</a>
            </li>
            <li class="u-tab-item" role="presentation">
              <a class="u-active-palette-3-dark-1 u-button-style u-grey-15 u-hover-grey-5 u-tab-link u-tab-link-2" id="link-tab-4d57" href="#tab-4d57" role="tab" aria-controls="tab-4d57" aria-selected="false">Habitaciones</a>
            </li>
            <li class="u-tab-item" role="presentation">
              <a class="u-active-palette-3-dark-1 u-button-style u-grey-15 u-hover-grey-5 u-tab-link u-tab-link-3" id="link-tab-3a42" href="#tab-3a42" role="tab" aria-controls="tab-3a42" aria-selected="false">Ejecutivo</a>
            </li>
          </ul>
          <div class="u-tab-content">
            <div class="u-container-style u-tab-active u-tab-pane" id="tab-081f" role="tabpanel" aria-labelledby="link-tab-081f">
              <div class="u-container-layout u-container-layout-1">
                <div class="u-expanded-width u-list u-list-1">
                  <div class="u-repeater u-repeater-1">
                    <div class="u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-list-item-1">
                      <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img alt="" class="u-expanded-width u-image u-image-default u-image-1" data-image-width="1280" data-image-height="720" src="images/ef3664c4f12aa33059e1d1ec1d04076244f29ddae38da319637cce4ddf27bba0d6d6744be5a0f78e0988a4c9ff12cfd79e69557c0a390e6ba4c070_1280.jpg">
                        <h3 class="u-text u-text-default u-text-1"> 1 Cama King</h3>
                        <a href="" class="u-border-hover-palette-2-base u-border-none u-btn u-btn-round u-button-style u-gradient u-none u-radius-5 u-text-white u-btn-1">Detalles</a>
                      </div>
                    </div>
                    <div class="u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-list-item-2">
                      <div class="u-container-layout u-similar-container u-container-layout-3">
                        <img alt="" class="u-expanded-width u-image u-image-default u-image-2" data-image-width="1280" data-image-height="970" src="images/ee999aa47b89d6ab9aebb002d7e0a9ba9838af701ed15aa6f61bd7071cfad26907ddf75f150382d87dc092aa96788530f4234eb1afc727776f6cf7_1280.jpg">
                        <h3 class="u-text u-text-default u-text-2"> 2 Camas Dobles</h3>
                        <a href="" class="u-border-hover-palette-2-base u-btn u-btn-round u-button-style u-gradient u-none u-radius-5 u-text-white u-btn-2">Detalles</a>
                      </div>
                    </div>
                    <div class="u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-list-item-3">
                      <div class="u-container-layout u-similar-container u-container-layout-4">
                        <img alt="" class="u-expanded-width u-image u-image-default u-image-3" data-image-width="1280" data-image-height="1012" src="images/d82485b7af2b0fb57f495498d28e31c6ca4c08848f04f4a77fbf3f9f63c114227bcb99b1cd84c045c0eef99dc13e91fcb0cb5e18477218e9dbc314_1280.jpg">
                        <h3 class="u-text u-text-default u-text-3"> 1 cama King</h3>
                        <a href="" class="u-border-hover-palette-2-base u-btn u-btn-round u-button-style u-gradient u-none u-radius-5 u-text-white u-btn-3"> Detalles</a>
                      </div>
                    </div>
                    <div class="u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-list-item-4">
                      <div class="u-container-layout u-similar-container u-container-layout-5">
                        <img alt="" class="u-expanded-width u-image u-image-default u-image-4" data-image-width="1280" data-image-height="854" src="images/8db9fd8e3c0e60142b5233cd0aa4215ca5526bf00c9ade8beedf04c8695a0fedfcc29ae236142a5a17c35d05bdb385b326bb3438f9a33941ff277e_1280.jpg">
                        <h3 class="u-text u-text-default u-text-4"> 2 Camas Dobles Planta Ejecutiva</h3>
                        <a href="" class="u-border-hover-palette-2-base u-btn u-btn-round u-button-style u-gradient u-none u-radius-5 u-text-white u-btn-4"> Detalles</a>
                      </div>
                    </div>
                    <div class="u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-list-item-5">
                      <div class="u-container-layout u-similar-container u-container-layout-6">
                        <img alt="" class="u-expanded-width u-image u-image-default u-image-5" data-image-width="1280" data-image-height="853" src="images/c04f0b8628a359d7473e60d2195b9ff94f5dc9b2d97834182f3a40aa44a02430d3049209d47e08e85dc9c93095e9764fa667f4bdb5273c11e0f2e8_1280.jpg">
                        <h3 class="u-text u-text-default u-text-5"> 1 Cama King Piso Ejecutivo</h3>
                        <a href="" class="u-border-hover-palette-2-base u-btn u-btn-round u-button-style u-gradient u-none u-radius-5 u-text-white u-btn-5"> Detalles</a>
                      </div>
                    </div>
                    <div class="u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-list-item-6">
                      <div class="u-container-layout u-similar-container u-container-layout-7">
                        <img alt="" class="u-expanded-width u-image u-image-default u-image-6" data-image-width="1280" data-image-height="853" src="images/1e9aabf3bfd181040bb9f4ec6023a97c375cdff8f5738d51a3cbd0fc2272059f261d55fc0e5206763e32533ecd3a7991d2c47e992417b04c103ef2_1280.jpg">
                        <h3 class="u-text u-text-default u-text-6"> 1 Dormitorio King Suite en el Piso Ejecutivo</h3>
                        <a href="" class="u-border-hover-palette-2-base u-btn u-btn-round u-button-style u-gradient u-none u-radius-5 u-text-white u-btn-6"> Detalles</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-tab-pane" id="tab-4d57" role="tabpanel" aria-labelledby="link-tab-4d57">
              <div class="u-container-layout u-container-layout-8">
                <div class="u-expanded-width u-list u-list-2">
                  <div class="u-repeater u-repeater-2">
                    <div class="u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-list-item-7">
                      <div class="u-container-layout u-similar-container u-container-layout-9">
                        <img alt="" class="u-expanded-width u-image u-image-default u-image-7" data-image-width="1280" data-image-height="720" src="https://pixabay.com/get/g5edf63ef86ef3664c4f12aa33059e1d1ec1d04076244f29ddae38da319637cce4ddf27bba0d6d6744be5a0f78e0988a4c9ff12cfd79e69557c0a390e6ba4c070_1280.jpg">
                        <h3 class="u-text u-text-default u-text-7"> 1 Cama King</h3>
                        <a href="" class="u-border-hover-palette-2-base u-border-none u-btn u-btn-round u-button-style u-gradient u-none u-radius-5 u-text-white u-btn-7">Detalles</a>
                      </div>
                    </div>
                    <div class="u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-list-item-8">
                      <div class="u-container-layout u-similar-container u-container-layout-10">
                        <img alt="" class="u-expanded-width u-image u-image-default u-image-8" data-image-width="1280" data-image-height="970" src="https://pixabay.com/get/gf90da51b9bee999aa47b89d6ab9aebb002d7e0a9ba9838af701ed15aa6f61bd7071cfad26907ddf75f150382d87dc092aa96788530f4234eb1afc727776f6cf7_1280.jpg">
                        <h3 class="u-text u-text-default u-text-8"> 2 Camas Dobles</h3>
                        <a href="" class="u-border-hover-palette-2-base u-btn u-btn-round u-button-style u-gradient u-none u-radius-5 u-text-white u-btn-8">Detalles</a>
                      </div>
                    </div>
                    <div class="u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-list-item-9">
                      <div class="u-container-layout u-similar-container u-container-layout-11">
                        <img alt="" class="u-expanded-width u-image u-image-default u-image-9" data-image-width="1280" data-image-height="1012" src="https://pixabay.com/get/g61c40606e4d82485b7af2b0fb57f495498d28e31c6ca4c08848f04f4a77fbf3f9f63c114227bcb99b1cd84c045c0eef99dc13e91fcb0cb5e18477218e9dbc314_1280.jpg">
                        <h3 class="u-text u-text-default u-text-9"> 1 cama King</h3>
                        <a href="" class="u-border-hover-palette-2-base u-btn u-btn-round u-button-style u-gradient u-none u-radius-5 u-text-white u-btn-9"> Detalles</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-tab-pane" id="tab-3a42" role="tabpanel" aria-labelledby="link-tab-3a42">
              <div class="u-container-layout u-container-layout-12">
                <div class="u-expanded-width u-list u-list-3">
                  <div class="u-repeater u-repeater-3">
                    <div class="u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-list-item-10">
                      <div class="u-container-layout u-similar-container u-container-layout-13">
                        <img alt="" class="u-expanded-width u-image u-image-default u-image-10" data-image-width="1280" data-image-height="854" src="https://pixabay.com/get/g4d475f5a588db9fd8e3c0e60142b5233cd0aa4215ca5526bf00c9ade8beedf04c8695a0fedfcc29ae236142a5a17c35d05bdb385b326bb3438f9a33941ff277e_1280.jpg">
                        <h3 class="u-text u-text-default u-text-10"> 2 Camas Dobles Planta Ejecutiva</h3>
                        <a href="" class="u-border-hover-palette-2-base u-btn u-btn-round u-button-style u-gradient u-none u-radius-5 u-text-white u-btn-10"> Detalles</a>
                      </div>
                    </div>
                    <div class="u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-list-item-11">
                      <div class="u-container-layout u-similar-container u-container-layout-14">
                        <img alt="" class="u-expanded-width u-image u-image-default u-image-11" data-image-width="1280" data-image-height="853" src="https://pixabay.com/get/g944a9811b7c04f0b8628a359d7473e60d2195b9ff94f5dc9b2d97834182f3a40aa44a02430d3049209d47e08e85dc9c93095e9764fa667f4bdb5273c11e0f2e8_1280.jpg">
                        <h3 class="u-text u-text-default u-text-11"> 1 Cama King Piso Ejecutivo</h3>
                        <a href="" class="u-border-hover-palette-2-base u-btn u-btn-round u-button-style u-gradient u-none u-radius-5 u-text-white u-btn-11"> Detalles</a>
                      </div>
                    </div>
                    <div class="u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-list-item-12">
                      <div class="u-container-layout u-similar-container u-container-layout-15">
                        <img alt="" class="u-expanded-width u-image u-image-default u-image-12" data-image-width="1280" data-image-height="853" src="https://pixabay.com/get/ga41db66f9d1e9aabf3bfd181040bb9f4ec6023a97c375cdff8f5738d51a3cbd0fc2272059f261d55fc0e5206763e32533ecd3a7991d2c47e992417b04c103ef2_1280.jpg">
                        <h3 class="u-text u-text-default u-text-12"> 1 Dormitorio King Suite en el Piso Ejecutivo</h3>
                        <a href="" class="u-border-hover-palette-2-base u-btn u-btn-round u-button-style u-gradient u-none u-radius-5 u-text-white u-btn-12"> Detalles</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-85e6"><div class="u-clearfix u-sheet u-sheet-1"></div></footer>
    <section class="u-backlink u-clearfix u-grey-80">
      <a class="u-link" href="https://nicepage.com/one-page-template" target="_blank">
        <span>One Page Template</span>
      </a>
      <p class="u-text">
        <span>created with</span>
      </p>
      <a class="u-link" href="https://nicepage.com/html-website-builder" target="_blank">
        <span>HTML Builder</span>
      </a>. 
    </section>
  
</body></html>