<!DOCTYPE html>
<html style="font-size: 16px;" lang="es"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="About Us, Fun Learning, Make learning fun!, About Us, Contact Us">
    <meta name="description" content="">
    <title>Página 1</title>
    <link rel="stylesheet" href="/css/nicepage.css">
    <link rel="stylesheet" href="/css/informacion.css">
      <script class="u-script" type="text/javascript" src="/script/jquery.js" defer=""></script>
      <script class="u-script" type="text/javascript" src="/script/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 5.10.10, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i">
    
    
    
    
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Página 1">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body class="u-body u-xl-mode" data-lang="es"> 
    <section class="u-clearfix u-section-1" id="carousel_ac01">
      <div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <div class="custom-expanded u-gradient u-shape u-shape-rectangle u-shape-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"></div>
        <div class="u-expanded-width-xs u-gradient u-shape u-shape-rectangle u-shape-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250"></div>
        <img class="u-image u-image-1" src="images/117364fa35219d8486bd46d7954a06ee0c47f4d843d8fa23d50a85908a6d3e9da134b666de206365207119684221fe0df51a830cdd52212df07f60_1280.jpg" data-image-width="1280" data-image-height="853" data-animation-name="flipIn" data-animation-duration="1500" data-animation-delay="500" data-animation-direction="X">
        <div class="u-container-style u-expanded-width-xs u-group u-group-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
          <div class="u-container-layout u-container-layout-1">
            <h1 class="u-align-left u-custom-font u-font-ubuntu u-text u-text-white u-text-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""> Información del hotel</h1>
            <p class="u-align-left u-large-text u-text u-text-variant u-text-white u-text-2" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""> Encuentra todos los detalles que necesitas para disfrutar de una excelente estadía en Royal Harmony<br>
              <br>
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-section-2" id="carousel_a9f7">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-palette-3-dark-1 u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">Nuestras amenidades</h2>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1"><span class="u-align-center u-file-icon u-gradient u-icon u-icon-rectangle u-icon-1"><img src="images/857681-edfc58f6.png" alt=""></span>
                <h4 class="u-align-center u-text u-text-2"> Comidas</h4>
                <p class="u-align-center u-text u-text-grey-50 u-text-3"> Restaurante en el hotel<br>Servicio de habitaciones
                </p>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2"><span class="u-align-center u-file-icon u-gradient u-icon u-icon-rectangle u-icon-2"><img src="images/2564017-9544488e.png" alt=""></span>
                <h4 class="u-align-center u-text u-text-4"> Fitness y recreación</h4>
                <p class="u-align-center u-text u-text-grey-50 u-text-5"> Piscina al aire libre<br>Gimnasio
                </p>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3"><span class="u-align-center u-file-icon u-gradient u-icon u-icon-rectangle u-icon-3"><img src="images/3135684-11d5f4d3.png" alt=""></span>
                <h4 class="u-align-center u-text u-text-6"> Negocios y trabajo</h4>
                <p class="u-align-center u-text u-text-grey-50 u-text-7"> Centro de negocios<br>Salas.
                </p>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-list-item-4" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4"><span class="u-align-center u-file-icon u-gradient u-icon u-icon-rectangle u-icon-4"><img src="images/2555115-9e2c2c84.png" alt=""></span>
                <h4 class="u-align-center u-text u-text-8"> Comodidades</h4>
                <p class="u-align-center u-text u-text-grey-50 u-text-9"> Aparcamiento gratuito</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-lightbox u-section-3" id="sec-9e91">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-palette-3-dark-1 u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250"> Servicios destacados</h2>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-effect-hover-zoom u-list-item u-repeater-item u-shading u-list-item-1" data-image-width="1280" data-image-height="814">
              <div class="u-background-effect u-expanded">
                <div class="u-background-effect-image u-expanded u-image u-shading u-image-1" data-image-width="1280" data-image-height="814"></div>
              </div>
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <h3 class="u-hover-feature u-text u-text-default u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1000">GIMNACIO</h3>
              </div>
            </div>
            <div class="u-container-style u-effect-hover-zoom u-list-item u-repeater-item u-shading u-list-item-2" data-image-width="1280" data-image-height="853">
              <div class="u-background-effect u-expanded">
                <div class="u-background-effect-image u-expanded u-image u-shading u-image-2" data-image-width="1280" data-image-height="853"></div>
              </div>
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <h3 class="u-hover-feature u-text u-text-default u-text-3" data-animation-name="customAnimationIn" data-animation-duration="1000">PISCINA&nbsp;</h3>
              </div>
            </div>
            <div class="u-container-style u-effect-hover-zoom u-list-item u-repeater-item u-shading u-list-item-3" data-image-width="1280" data-image-height="853">
              <div class="u-background-effect u-expanded">
                <div class="u-background-effect-image u-expanded u-image u-shading u-image-3" data-image-width="1280" data-image-height="853"></div>
              </div>
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <h3 class="u-hover-feature u-text u-text-default u-text-4" data-animation-name="customAnimationIn" data-animation-duration="1000">COMIDAS</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
      
    </section>
    <section class="u-align-center u-clearfix u-section-4" id="sec-dc91">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-align-left u-text u-text-default u-text-palette-3-dark-1 u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1000"> Para su estancia</h1>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-5" id="sec-8a4b">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-left u-container-style u-gradient u-list-item u-repeater-item u-list-item-1">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <h4 class="u-text u-text-default u-text-1"> Aparcamiento</h4>
                <p class="u-text u-text-default u-text-2"><b>Estacionamiento de autoservicio:</b>&nbsp;Gratuito<br><b>Aparcacoches:</b>&nbsp;No disponible<br><b>Carga de vehículos eléctricos:</b>&nbsp;No disponible<br><b>Asegurado:</b>&nbsp;No disponible<br><b>Tapado:</b>&nbsp;Disponible<br><b>Privilegios de entrada/salida:</b>&nbsp;No disponible
                </p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-gradient u-list-item u-repeater-item u-video-cover u-list-item-2">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <h4 class="u-text u-text-default u-text-3"> Transporte al aeropuerto</h4>
                <p class="u-text u-text-default u-text-4">Disponible</p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-gradient u-list-item u-repeater-item u-video-cover u-list-item-3">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <h4 class="u-text u-text-default u-text-5"> Libre de humo</h4>
                <p class="u-text u-text-default u-text-6"><b>Habitaciones para fumadores disponibles:</b>&nbsp;No<br><b>Política de fumadores:</b>&nbsp;Somos un hotel 100% para no fumadores. Esto incluye todas las habitaciones, salas de reuniones y áreas públicas.
                </p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-gradient u-list-item u-repeater-item u-video-cover u-list-item-4">
              <div class="u-container-layout u-similar-container u-container-layout-4">
                <h4 class="u-text u-text-default u-text-7"> Desayuno</h4>
                <p class="u-text u-text-default u-text-8"> Disponible por una tarifa<br>
                  <br><b>Tipo:&nbsp;</b>Bufet
                </p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-gradient u-list-item u-repeater-item u-video-cover u-list-item-5">
              <div class="u-container-layout u-similar-container u-container-layout-5">
                <h4 class="u-text u-text-default u-text-9">Mascotas</h4>
                <p class="u-text u-text-default u-text-10"><b>Mascotas permitidas:</b>&nbsp;No
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-grey-5 u-section-6" id="sec-360d">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-text u-text-default u-text-palette-3-dark-1 u-text-1"> Nuestras políticas</h2>
        <div class="u-accordion u-collapsed-by-default u-spacing-10 u-accordion-1">
          <div class="u-accordion-item">
            <a class="u-accordion-link u-active-palette-3-dark-3 u-button-style u-hover-palette-3-light-2 u-palette-3-dark-1 u-radius-14 u-accordion-link-1" id="link-accordion-0781" aria-controls="accordion-0781" aria-selected="false">
              <span class="u-accordion-link-text">Cancelación</span><span class="u-accordion-link-icon u-icon u-icon-rounded u-text-palette-3-dark-1 u-white u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 42 42" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-f4c1"></use></svg><svg class="u-svg-content" viewBox="0 0 42 42" x="0px" y="0px" id="svg-f4c1" style="enable-background:new 0 0 42 42;"><polygon points="42,20 22,20 22,0 20,0 20,20 0,20 0,22 20,22 20,42 22,42 22,22 42,22 "></polygon></svg></span>
            </a>
            <div class="u-accordion-pane u-container-style u-gradient u-shape-rectangle u-accordion-pane-1" id="accordion-0781" aria-labelledby="link-accordion-0781">
              <div class="u-container-layout u-container-layout-1">
                <p class="u-text u-text-2"> Las políticas de cancelación pueden variar según la tarifa y las fechas de su reserva. Consulte la confirmación de su reserva para verificar su política de cancelación. Si necesita más ayuda, llame directamente al hotel o póngase en contacto con el servicio de&nbsp;<a class="hover:text-primary-alt inline text-base text-primary u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base underline u-btn-1" href="https://help.hilton.com/s/?xch=1826838839%2CRv70c0VKNTKmWv1NLpd4CvFtGnJsr1Ncb9CW887nJc1Nmn0jqpfD%21-1508637600%211546966346925" _istranslated="1">atención al cliente.</a>&nbsp;Alternativamente, puede cancelar su&nbsp;<a class="hover:text-primary-alt inline text-base text-primary u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base underline u-btn-2" href="https://secure3.hilton.com/en_US/hi/reservation/find/index.htm" _istranslated="1">reserva en línea.</a>
                </p>
              </div>
            </div>
          </div>
          <div class="u-accordion-item">
            <a class="u-accordion-link u-active-palette-3-dark-3 u-button-style u-hover-palette-3-light-2 u-palette-3-dark-1 u-radius-14 u-accordion-link-2" id="link-accordion-4c47" aria-controls="accordion-4c47" aria-selected="false">
              <span class="u-accordion-link-text">Check-in/Check-out</span><span class="u-accordion-link-icon u-icon u-icon-rounded u-text-palette-3-dark-1 u-white u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 42 42" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-f2c3"></use></svg><svg class="u-svg-content" viewBox="0 0 42 42" x="0px" y="0px" id="svg-f2c3" style="enable-background:new 0 0 42 42;"><polygon points="42,20 22,20 22,0 20,0 20,20 0,20 0,22 20,22 20,42 22,42 22,22 42,22 "></polygon></svg></span>
            </a>
            <div class="u-accordion-pane u-container-style u-gradient u-shape-rectangle u-accordion-pane-2" id="accordion-4c47" aria-labelledby="link-accordion-4c47">
              <div class="u-container-layout u-container-layout-2">
                <ul class="u-custom-list u-text u-text-3">
                  <li>
                    <div class="u-list-icon">
                      <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">–</div>
                    </div>Edad mínima para inscribirse: 18 años<br>
                  </li>
                  <li>
                    <div class="u-list-icon">
                      <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">–</div>
                    </div>Tarifa de salida anticipada<br>
                  </li>
                  <li>
                    <div class="u-list-icon">
                      <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">–</div>
                    </div>Cargo por salida tardía<br>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    

  
</body></html>